@import "_variables.scss"; 

footer{
 background-color: #000; 
    
}

.main-footer-container{
display: flex; 
    color: aliceblue;
    flex-direction: row; 
    height: 150px; 
}
.stores-locations1{
    background-color: #000;
}
.coffe-footer-icon{
    width: 60px; 
    height: 60px; 
    margin: 30px auto;
}