@import "_variables.scss"; 

footer{
 background-color: #000; 
    position: relative; 
}

.main-footer-container{
display: flex; 
    color: aliceblue;
    flex-direction: row; 
    height: 150px; 
}
.stores-locations1{
    background-color: #000;
}
.coffe-footer-icon{
    width: 60px; 
    height: 60px; 
    margin: 30px auto;
    position: absolute;
}

.footer-icons{
    display: flex;
    justify-content: center;
    
    div{
        width: 30px; 
        height: 30px; 
        background-color: aliceblue;
        margin: 10px; 
    }
}
.icon1{
    background-image: url(../img/facebook-logo.svg);
}
.icon2{
    background-image: url(../img/envelope.svg);
}
.icon3{
    background-image: url(../img/twitter-logo-silhouette.svg);
}
.icon4{
    background-image: url(../img/facebook-logo.svg);
}