@import "_variables.scss"; 

footer{
    position: absolute; 
    bottom:0;
   
    
}

.main-footer-container{
  @include flex-row(); 
    padding: 30px; 
    background-color: #000 !important;
    
}
.stores-locations1{
    background-color: #000 !important;
}