@import "_variables.scss"; 

html,body,*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/*h1's  code ******************** *********************/
.main-info h1{
	color: #fff; 
	font-size: 3.5rem; 
    font-weight: 700;
}
.autor{
    color: $button-color; 
    font-size: 1.3rem;
}
/*h1's  code  *************************************** */
.logo{
    fill:#fff;
}

/*main info **********************/
.main-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    text-align: center;
}
/*main info **********************/

/*main cover **********************/
.main-cover { 
background-image: url(../img/hand-coffee.jpg);
@include background-fixed();
    z-index: -1; 
}

.main-cover-cover > * {
    z-index: 2;
}

.main-nav > * {
        z-index: 2;
}
.main-cover:after{
     content: ''; 
    position: absolute; 
    left: 0; 
    top:0; 
    width: 100vw; 
    height: 100vh; 
    background: rgba(0,0,0,0.4); 
}

/*.aside container info   ********** */
.aside-container{
    width: 80%; 
     margin: 10px auto; 
    background-color: $sections-color !important;
}
/*.aside container info   ********** */
.nav-list-container{
    display: flex;
    flex-direction: row;
    position: absolute; 
    bottom: 0;
    background-color: #000; 
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.nav-list-container li{
    padding-left: 20px;
    list-style: none;
   

}

.list-item{
    color:#fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.4rem;
   
}
.list-item:hover{
    color: $button-color; 
}

.nav-list-container a:hover{

    color:$button-color !important;
    
}

/*main cover **********************/
@import "aside-code.scss"; 

@import "location.scss";

/*section *********************************  */
.s{
       position: relative; 
    background-color: $sections-color;
    height: 100%;
}
//.ribbon-container{
//    position: relative;
// width: 200px;
//    height: 100px;
//    margin: 0 auto;
//
//}
//
//.ribbon {
//   
//    width: 200px; 
//    height: 110px;
//   
//}

.specialities-container{
    height: 100%;
}
.special-main-container {
  display: grid;
    grid:{
        template-columns: repeat(3, 1fr);
        template-areas: "s1 s2 s3"; 
    }
     
justify-items: center; 
    
    h5{
        font-size: .9rem;
        color:$button-color; 
    }
    
}

.s-img1 {
    background-image: url(../img/straberry-drink.jpg); 
  @include background-style();
 @include s-width-height();
}
.s-img2{
    background-image: url(../img/vanilla%20cake.jpg); 
    @include background-style();
 @include s-width-height();
    
}
.s-img3{
    background-image: url(../img/cappuchino.jpg); 
   @include background-style();
 @include s-width-height();
}

.specialities-container h2{
      padding-top:50px;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    height:150px;
    color: #000;
}

.s-containr1{
    grid-area: s1; 
     @include s-width-textalign();
  
        
}

.s-containr2{
    grid-area: s2; 
 @include s-width-textalign();
}
.s-containr3{
    grid-area: s3; 
   @include s-width-textalign();
    
} 


@import "menu.scss"; 

@import "news.scss"; 
@import "press.scss"; 

//aboout-Us-main-container  ****************************************
.aboout-Us-main-container{
    background-image: url(../img/cafee.jpg); 
    @include background-fixed(); 
}
@media (max-width: 29rem){
    .main-cover{
        width:100vw;
        height: 100vh;
        position: relative;
    }
    
    .main-info h1{
        font-size: 2rem;
    }
    
    .main-info h4{
        font-size: 1rem;
    }
    
    .nav-list-container a{
        font-size: .8rem;
    }
    
    .about-image1-container, .about-image2-container,.about-image3-container{
        visibility: hidden;
    }
.about-section{
        margin: 0;
    }
    .about-info{
        margin-top: 179px; 
        grid-area: info;
  
    }
    .about-section{
      display: grid;
        grid:{
        template-columns: 1fr; 
        template-areas: "info"; 
            }
    }
  
    .locations-divs{

        display: flex; 
        flex-direction: column;
    }
    .locations-divs p{
        font-size: 0.8rem;
    }
    .location-info p{
        font-size: 0.8rem;
    }
    .nav-list-container li{
        padding-left: 5px;
    }
    
    .location-container{
        overflow: hidden;
        height: 100%;
    }
    .location-container h2 {
        font-size: 2.3rem;
        padding: 0px; 
        margin-top: 5px; 
        height: 55px;
    }
    .location1,.location2,.location3{
        margin: 10px;
    }
    .m{
  height: 100%;
    }
    .menu-container-list{
         display: grid;
        grid:{
            template-columns: 1fr; 
            template-areas: "img1"
            "img2"
             "img3"
             "img4"
             "img5"
             "img6"
             "img7"
             "img8";
        }
        
       
    }
   
    .img-menu-1 {
    grid-area: img1;
  justify-content: flex-start;
}
    .img-menu-2{
        grid-area: img2;
    }
    
    .img-menu-3 {
    grid-area: img3;
 
}

.img-menu-4 {
    grid-area: img4;
 
}
.img-menu-5 {
    grid-area: img5;
   
}
.img-menu-6 {
    grid-area: img6;
    
}
.img-menu-7 {
    grid-area: img7;
   
}
.img-menu-8 {
    grid-area: img8;
    
}
.img-menu-9 {
     display: none;
   
}
.img-menu-10 {
    display: none;
    
}
.img-menu-11 {
     display: none;
   
}
    .img-menu-12{
          display: none;
    }
    
    
    
}
.news-events-container{
    background-color: $sections-color;
}

@media only screen and (max-width: 51rem) and (orientation: landscape){
    .nav-list-container a {
        font-size: 1.1rem;
    }
    
   
    .location-container{
        overflow: hidden;
        height: 100%;
    }
    .location1-img,.location2-img,.location3-img{
        width: 200px;
    }
    .location1, .location2, .location3{
        width: 240px; 
        margin-right:5px;
    }
    .locations-divs{
        width: 97%;
        margin-bottom:10px; 
    }
    

    .main-cover-cover h1{
        font-size: 2rem;
    }
    .coffe-icon{
         width:70px; 
    heigh:70px;
    }
    
    .aside-container{
       width: 100%;
    }
}