@import "_variables.scss"; 

html,body,*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/*h1's  code ******************** *********************/
.main-info h1{
	color: #fff; 
	font-size: 3.5rem; 
    font-weight: 700;
}
.autor{
    color: $button-color; 
    font-size: 1.3rem;
}
/*h1's  code  *************************************** */
.logo{
    fill:#fff;
}

/*main info **********************/
.main-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    text-align: center;
}
/*main info **********************/

/*main cover **********************/
.main-cover { 
background-image: url(../img/hand-coffee.jpg);
@include background-fixed();
    z-index: -1; 
}

.main-cover-cover > * {
    z-index: 2;
}

.main-nav > * {
        z-index: 2;
}
.main-cover:after{
     content: ''; 
    position: absolute; 
    left: 0; 
    top:0; 
    width: 100vw; 
    height: 100vh; 
    background: rgba(0,0,0,0.4); 
}

/*.aside container info   ********** */
.aside-container{
    width: 80%; 
     margin: 10px auto; 
}
/*.aside container info   ********** */
.nav-list-container{
    display: flex;
    flex-direction: row;
    position: absolute; 
    bottom: 0;
    background-color: #000; 
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.nav-list-container li{
    padding-left: 20px;
    list-style: none;
   

}

.list-item{
    color:#fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.4rem;
   
}
.list-item:hover{
    color: $button-color; 
}

.nav-list-container a:hover{

    color:$button-color !important;
    
}

/*main cover **********************/

/*about-section **********************/

.about-section{
  
margin:50px;
    display: grid; 
    grid:{
        template-columns: repeat(3, 1fr); 
        template-areas: "p1 p3  info"
                         "p2 p3 info"; 
        template-rows: auto auto;
        gap: 10px;
    }
    position: relative;
    
}

.about-image1-container{
   grid-area: p1; 
    background-image: url(../img/cup-coffe.jpg); 
   @include background-style(); 
    
    min-height: 250px;
    margin-bottom: 10px;
        
}

.about-image2-container{
    grid-area: p2; 

       
     background-image: url(../img/pour-coffe.jpg); 
    @include background-style(); 
  min-height: 250px;
}

.about-image3-container{
   grid-area:  p3;
     background-image: url(../img/drinking-coffee.jpg); 
    @include background-style(); 
}
/*coffee icons   ***********************/
.coffee-icon{
    width:80px; 
    heigh:80px;
}
.coffee-icon-nav{
    width:60px; 
    heigh:60px;
}

/*coffee icons   ***********************/
.about-info{
    grid-area: info;
    padding: 10px;
    text-align: center;
    position: relative; 
  
}
.about-info-container{
    position: absolute; 
     top: 50%;
  left: 20%;
    transform: translate(-10%, -50%);
 
}
.about-button1{
    margin-top: 20px;
padding-left: 10px;
    padding-right: 10px;
    height: 40px; 
    font-size: 1rem;
    background-color: $button-color; 
    color: #fff;
    
}
/*location containers ********** */
.location-container{
    background-image: url(../img/location-coffee.jpg); 
@include background-fixed();
}

.location-container > * {
    position: relative; 
    z-index: 2; 
}

.location-container:after{
    content: ''; 
    position: absolute; 
    left: 0; 
    top:0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.4); 
}


.locations-divs{
    color: aliceblue;
}


.locations-divs {
    width: 90%;
    margin: auto auto;
    display: flex;
    flex-direction: row;
    position: relative;

    
}

.location-container h2{
    padding-top:50px;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    height:150px;
    color:aliceblue;
}

.location1,.location2,.location3{
    background-color: aliceblue;
    color:black;
    margin: 10px;

    max-width: 350px;
    margin: 0 auto; 
    
}

.location1{
   
    margin-right: 20px; 
}
.location2 {
    margin-left: 0px;
    margin-right: 20px;
}

.location3 {
    margin-left: 0px;
 
       
}

.location1-img{
    background-image: url(../img/location1.jpg);
   @include background-style();
 @include location-img-mea();
    text-align: center;
 
}
.location2-img{
    background-image: url(../img/location2.jpg);
    @include background-style();
   @include location-img-mea();
}
.location3-img{
    background-image: url(../img/location3.jpg);
  @include background-style();
    @include location-img-mea();
}

.locations-divs img{

    width:20px;
    height: 20px; 
     margin-left:24px;
   
}

.location-info{
    display: grid;
    grid-template-columns: 50px 1fr; 
    grid-template-areas: "l1 ad1"
                          "l2 ad2"
                           "l3 ad3"
                            "bt bt"; 
}
.location-p {
  margin-left:24px;
    margin-right:24px;
    padding-bottom: 20px; 
   
}
.location-map{
    height: 40px; 
    font-size: 1rem;
    background-color:$button-color; 
    color: #fff;
    margin:20px;
    grid-area: bt;
}

/*section *********************************  */
.s{
       position: relative; 
}
//.ribbon-container{
//    position: relative;
// width: 200px;
//    height: 100px;
//    margin: 0 auto;
//
//}
//
//.ribbon {
//   
//    width: 200px; 
//    height: 110px;
//   
//}
.specialities-container{
    width: 100vw; 
    height: 100vh; 
 
}
.specialities-container{
    height: 100%;
}
.special-main-container {
  display: grid;
    grid:{
        template-columns: repeat(3, 1fr);
        template-areas: "s1 s2 s3"; 
    }
     
justify-items: center; 
    
    h5{
        font-size: .9rem;
        color:$button-color; 
    }
    
}

.s-img1 {
    background-image: url(../img/straberry-drink.jpg); 
  @include background-style();
 @include s-width-height();
}
.s-img2{
    background-image: url(../img/vanilla%20cake.jpg); 
    @include background-style();
 @include s-width-height();
    
}
.s-img3{
    background-image: url(../img/cappuchino.jpg); 
   @include background-style();
 @include s-width-height();
}

.specialities-container h2{
      padding-top:50px;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    height:150px;
    color: #000;
}

.s-containr1{
    grid-area: s1; 
     @include s-width-textalign();
  
        
}

.s-containr2{
    grid-area: s2; 
 @include s-width-textalign();
}
.s-containr3{
    grid-area: s3; 
   @include s-width-textalign();
    
} 

/*menu-container *** ****/

.m{
       background-color:rgba(136, 136, 136,0.3);
    width: 100vw; 
    height:100vh;
}

.m h2{
    font-size: 3rem;
    text-align: center;
    margin: 40px auto; 
}


.menu-container-list{
    display: grid; 
    grid:{
        template-columns: repeat(3, 1fr); 
        template-areas: "img1 img2 img3"
    "img4 img5 img6"
    "img7 img8 img9"
    "img10 img11 img12"; 
    }
    
    


}

.img-menu-1 {
    grid-area: img1;
    position: relative;
  
}

  .menu-info{
        width: 170px;
        position: absolute;
        top:15%;
      transform: translateX(120px); 
       
    }


.img-menu-2 {
    grid-area: img2;
     position: relative;
}
.img-menu-3 {
    grid-area: img3;
    position: relative;
}

.img-menu-4 {
    grid-area: img4;
     position: relative;
}
.img-menu-5 {
    grid-area: img5;
    position: relative;
}
.img-menu-6 {
    grid-area: img6;
     position: relative;
}
.img-menu-7 {
    grid-area: img7;
    position: relative;
}
.img-menu-8 {
    grid-area: img8;
     position: relative;
}
.img-menu-9 {
    grid-area: img9;
    position: relative;
}
.img-menu-10 {
    grid-area: img10;
     position: relative;
}
.img-menu-11 {
    grid-area: img11;
    position: relative;
}


.img-menu-12 {
    grid-area: img12;
    position: relative;
}




.img1,.img2,.img3,.img4,.img5,.img6,.img7,.img8,.img9,.img10,.img11,.img12{
    width: 83.77px; 
    height: 83.77px; 
    border-radius: 50%;
    background-color:palevioletred; 
    cursor: pointer;
}

.menu-container-list div{
  margin: 10px 10px;
}


.img1{
    background-image: url(../img/ice-coffee.jpg); 
   @include background-style();
}

.img2{
    background-image: url(../img/yougurt-menu.jpg);
  @include background-style();
}

.img3{
     background-image: url(../img/icecream-menu.jpg);
  @include background-style();
}
.img4{
     background-image: url(../img/oatmeal-menu.jpg);
  @include background-style();
}
.img5{
     background-image: url(../img/Rasperry-menu.jpg);
  @include background-style();
}
.img6{
     background-image: url(../img/chocolate-cake.jpg);
  @include background-style();
}
.img7{
     background-image: url(../img/kiwi-menu.jpg);
  @include background-style();
}
.img8{
     background-image: url(../img/apple-pie-menu.jpg);
  @include background-style();
}
.img9{
     background-image: url(../img/french-toast-special-menu.jpg);
  @include background-style();
}
.img10{
     background-image: url(../img/passionfruit-menu.jpg);
  @include background-style();
}.img11{
     background-image: url(../img/casey-lee-soup-menu.jpg);
  @include background-style();
}
.img12{
     background-image: url(../img/engilsh-waffles-menu.jpg);
  @include background-style();
}



.dash{
  border: 0 none;
  border-top: 2px dashed #322f32;
  background: none;
  height:0;

} 

.menu-container-list {
    h4 {
        font-size: .9rem;
        color: $button-color;
    }
}

//news-events 
.news-events-container{
    width: 100vw; 
    height: 100vh; 
    background-color: papayawhip;
}
.news-events-container h1{
    text-align: center;
    font-size: 3rem;
}


//aboout-Us-main-container  ****************************************
.aboout-Us-main-container{
    background-image: url(); 
}
@media (max-width: 29rem){
    .main-cover{
        width:100vw;
        height: 100vh;
        position: relative;
    }
    
    .main-info h1{
        font-size: 2rem;
    }
    
    .main-info h4{
        font-size: 1rem;
    }
    
    .nav-list-container a{
        font-size: .8rem;
    }
    
    .about-image1-container, .about-image2-container,.about-image3-container{
        visibility: hidden;
    }
.about-section{
        margin: 0;
    }
    .about-info{
        margin-top: 179px; 
        grid-area: info;
  
    }
    .about-section{
      display: grid;
        grid:{
        template-columns: 1fr; 
        template-areas: "info"; 
            }
    }
  
    .locations-divs{

        display: flex; 
        flex-direction: column;
    }
    .locations-divs p{
        font-size: 0.8rem;
    }
    .location-info p{
        font-size: 0.8rem;
    }
    .nav-list-container li{
        padding-left: 5px;
    }
    
    .location-container{
        overflow: hidden;
        height: 100%;
    }
    .location-container h2 {
        font-size: 2.3rem;
        padding: 0px; 
        margin-top: 5px; 
        height: 55px;
    }
    .location1,.location2,.location3{
        margin: 10px;
    }
    .m{
  height: 100%;
    }
    .menu-container-list{
         display: grid;
        grid:{
            template-columns: 1fr; 
            template-areas: "img1"
            "img2"
             "img3"
             "img4"
             "img5"
             "img6"
             "img7"
             "img8";
        }
        
       
    }
   
    .img-menu-1 {
    grid-area: img1;
  justify-content: flex-start;
}
    .img-menu-2{
        grid-area: img2;
    }
    
    .img-menu-3 {
    grid-area: img3;
 
}

.img-menu-4 {
    grid-area: img4;
 
}
.img-menu-5 {
    grid-area: img5;
   
}
.img-menu-6 {
    grid-area: img6;
    
}
.img-menu-7 {
    grid-area: img7;
   
}
.img-menu-8 {
    grid-area: img8;
    
}
.img-menu-9 {
     display: none;
   
}
.img-menu-10 {
    display: none;
    
}
.img-menu-11 {
     display: none;
   
}
    .img-menu-12{
          display: none;
    }
    
    
    
}


@media only screen and (max-width: 51rem) and (orientation: landscape){
    .nav-list-container a {
        font-size: 1.1rem;
    }
    
   
    .location-container{
        overflow: hidden;
        height: 100%;
    }
    .location1-img,.location2-img,.location3-img{
        width: 200px;
    }
    .location1, .location2, .location3{
        width: 240px; 
        margin-right:5px;
    }
    .locations-divs{
        width: 97%;
        margin-bottom:10px; 
    }
    

    .main-cover-cover h1{
        font-size: 2rem;
    }
    .coffe-icon{
         width:70px; 
    heigh:70px;
    }
    
    .aside-container{
       width: 100%;
    }
}