@import "_variables.scss"; 

html,body,*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
/*h1's  code ******************** *********************/
.main-info h1{
	color: #fff; 
	font-size: 6vw; 
    font-weight: 700;
}
.autor{
    color: $button-color; 
    font-size: 3.0vw;
}
/*h1's  code  *************************************** */
.logo{
    fill:#fff;
}

/*main info **********************/
.main-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    text-align: center;
}
/*main info **********************/

/*main cover **********************/
.main-cover { 
background-image: url(../img/hand-coffee.jpg);
@include background-fixed();
//    z-index: -1; 
}

//.main-cover-cover > * {
//    z-index: 2;
//}
//
//.main-nav > * {
//        z-index: 122;
//}
//.main-cover:after{
//     content: ''; 
//    position: absolute; 
//    left: 0; 
//    top:0; 
//    width: 100vw; 
//    height: 100vh; 
//    background: rgba(0,0,0,0.4); 
//}


.nav-list-container{
    @include flex-row(); 
    position: absolute; 
    bottom: 0;
    background-color: #000; 
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 100; 

}

.nav-list-container li{
    padding-left: 20px;
    list-style: none;
   

}

.list-item{
    color:#fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 2.1vw;
   
}
.list-item:hover{
    color: $button-color; 
    
}

.nav-list-container a::after{
    content:'';
    display: block; 
    width: 0; 
    height: 1px; 
    background: $button-color; 
    transition: width .3s; 
}
.nav-list-container a:hover:after{
  width: 100%; 
    color:$button-color;
    border-bottom: 6px solid $button-color; 
}

//.sticky{
//    position: sticky;
//    position: top;
//}
/*main cover **********************/
@import "aside-code.scss"; 

@import "location.scss";

/*section *********************************  */
.s{
       position: relative; 
    background-color: $sections-color;
    height: 100%;
    margin:0 auto;
   
}


.specialities-container{
    height: 100%;
}
.special-main-container {
    @include flex-row(); 

    justify-content: center;

    
    h5{
        font-size: .9rem;
        color:$button-color; 
    }
    
}

.s-img1 {
    background-image: url(../img/straberry-drink.jpg); 
  @include background-style();
 @include s-width-height();
}
.s-img2{
    background-image: url(../img/vanilla%20cake.jpg); 
    @include background-style();
 @include s-width-height();

    
}
.s-img3{
    background-image: url(../img/cappuchino.jpg); 
   @include background-style();
 @include s-width-height();

}

.specialities-container h2{
      padding-top:50px;
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
    height:150px;
    color: #000;
}

.s-containr1{
    grid-area: s1; 
     @include s-width-textalign();
  
        
}

.s-containr2{
    grid-area: s2; 
 @include s-width-textalign();
   
}
.s-containr3{
    grid-area: s3; 
   @include s-width-textalign();
    
} 


@import "menu.scss"; 

@import "news.scss"; 
@import "press.scss"; 

//aboout-Us-main-container  ****************************************
.aboout-Us-main-container{
    background-image: url(../img/cafee.jpg); 
    @include background-fixed(); 
}
@media (max-width: 30rem){
    .main-cover{
        width:100vw;
        height: 100vh;
        position: relative;
    }
    
    .main-info h1{
        font-size: 2rem;
    }
    
    .main-info h4{
        font-size: 1rem;
    }
    
    .nav-list-container a{
        font-size: .8rem;
    }
//    About container  ******** ******** ******** ******** ********
    .about-image1-container, .about-image2-container,.about-image3-container{
        visibility: hidden;
    }
.about-section{
        margin: 0;
    }
    .about-info{
        margin-top: 179px; 
        grid-area: info;
       
  
    }
    .about-section-container{
      display: grid;
        grid:{
        template-columns: 1fr; 
        template-areas: "info"; 
            }
    }
 //    About container  ******** ******** ******** ******** ******** 
    .locations-divs{

        @include flex-column(); 
       
    }
    .locations-divs p{
        font-size: 0.8rem;
    }
    .location-info p{
        font-size: 0.8rem;
    }
    .nav-list-container li{
        padding-left: 5px;
    }
    
    .location-container{
        overflow: hidden;
        height: 100%;
    }
    .location-container h2 {
        font-size: 2.3rem;
        padding: 0px; 
        margin-top: 5px; 
        height: 55px;
    }
    .location1,.location2,.location3{
        margin: 10px;
    }
    .m{
  height: 100%;
    }
    .menu-container-list{
         display: grid;
        grid:{
            template-columns: 1fr; 
            template-areas: "img1"
            "img2"
             "img3"
             "img4"
             "img5"
             "img6"
             "img7"
             "img8";
        }
        
       
    }
   
    .img-menu-1 {
    grid-area: img1;
  justify-content: flex-start;
}
    .img-menu-2{
        grid-area: img2;
    }
    
    .img-menu-3 {
    grid-area: img3;
 
}

.img-menu-4 {
    grid-area: img4;
 
}
.img-menu-5 {
    grid-area: img5;
   
}
.img-menu-6 {
    grid-area: img6;
    
}
.img-menu-7 {
    grid-area: img7;
   
}
.img-menu-8 {
    grid-area: img8;
    
}
.img-menu-9 {
     display: none;
   
}
.img-menu-10 {
    display: none;
    
}
.img-menu-11 {
     display: none;
   
}
    .img-menu-12{
          display: none;
    }
   
    
//specialties 
    .special-main-container{
            @include flex-column(); 
    }
    
//Press 
    .aboout-Us-main-container{
        height: 100%;
    }

.sub-container {
      @include flex-column(); 
    height: 100%;
    }
    

.news-events-container{
    background-color: $sections-color;
}
 .news-events{
        height: 100%;
    }
   .main-events-container{
   @include flex-column(); 
    
       height: 100%;
      
       
} 
    .main-events-container{
        height: 100%;
    }
    .sub1, .sub2, .sub3, .sub4{
        width: 100%;
        height: 280px;
        }

}
@media (min-width:30.01rem) and (max-width:90rem){
    .main-events-container{
         display: grid; 
       grid-template-columns: repeat(2, 1fr); 
        grid-template-areas: "e1 e2"
                               "e3 e4"; 
        
    }
     .event1{
           grid-area: e1; 
       }
     .event2{
           grid-area: e2; 
       }
     .event3{
           grid-area: e3; 
       }
     .event4{
           grid-area: e4; 
       }
    
}

@media only screen and (min-width:30.1rem) and (max-width:60rem){
    
    
//    .main-events-container{
//        display: grid; 
//        grid-template-columns: 1fr 1fr; 
//        .me{
//            margin: 0;
//            padding: 0; 
//        }
//        .e1, .e2, .e3, .e4{
//            width: 100%;
//        }
//        
//        .even-subcontainer{
//           min-width: 200px; 
//            max-width: 262px;
//            margin: 0;
//        }
//        
//    }
    .sub-container {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        gird-template-rows: 1fr 1fr; 
        grid-template-areas: "sub1 sub2"
                             "sub3 sub4"; 
      grid-column-gap: 10px; 
        .sub1{
            grid-area: sub1; 
           @include width-height-sub(); 
          
        }
        .sub2{
                grid-area: sub2; 
            width:100%;
          @include width-height-sub(); 
        }
        .sub3{
            grid-area: sub3; 
            @include width-height-sub(); 
        }
        
        .sub4{
            grid-area:sub4; 
            @include width-height-sub(); 
            
        }
        
    }
   
}

@media only screen and (max-width: 51rem) and (orientation: landscape){
    .nav-list-container a {
        font-size: 1.1rem;
    }
    
   
    .location-container{
        overflow: hidden;
        height: 100%;
    }
    .location1-img,.location2-img,.location3-img{
        width: 200px;
    }
    .location1, .location2, .location3{
        width: 240px; 
        margin-right:5px;
    }
    .locations-divs{
        width: 97%;
        margin-bottom:10px; 
    }
    

    .main-cover-cover h1{
        font-size: 2rem;
    }
    .coffe-icon{
         width:70px; 
    heigh:70px;
    }
    
    .aside-container{
       width: 100%;
    }
}