@import "_variables.scss"; 

//news-events 
.news-events-container{
    width: 100vw; 
    height: 100vh; 
    background-color: papayawhip;
}
.news-events-container h1{
     @include header-menu(); 
}


.main-events-container{
    display: flex;
    flex-direction: row ;
    .me{
        background-color: dimgrey; 
    }
    
    .e1, .e2, .e3, .e4{
        
    }
}