@import "_variables.scss"; 

//news-events 
.news-events-container{
    width: 100vw; 
    height: 100%; 
    background-color:$sections-color;
}
.news-events-container h1{
     @include header-menu(); 
   
}


.main-events-container{
 display: grid; 
       grid-template-columns: repeat(4, 1fr); 
       grid-template-areas: "e1 e2 e3 e4"; 
    justify-content: center;
   
 .event1{
           grid-area: e1; 
       }
       .event2{
           grid-area: e2; 
       }
    .event3{
        grid-area: e3; 
        
    }
    .event4{
        grid-area: e4; 
    }
    
    
    
    .me{
        background-color:rgba(136, 136, 136,0.1);
//      width:25%; 
        margin-left: 5px; 
        height: 600px;
        padding: 20px;
    }
    
    .e1, .e2, .e3, .e4{
        max-width: 90%; 
    min-width: 80%; 
        height: 250px; 
       
        
    }
    .even-subcontainer{
        width:330px; 
       position: relative;
        margin: 20px 0;
        line-height: 35px;
        height: 100%;
         p{
        color:$content-text-color;
    }
         h2,h5{
            padding-left:17px; 
        }
        p{
            padding-left:17px; 
             
        }
        
        h5{
          text-align: center;
            border: 1px solid #000;
            font-weight: 800;
        }
            h5:hover{
background-color: black;
                color: aliceblue;
                letter-spacing: 2px;
        }
    }
    .e1{
        background-image: url(../img/news.new-day.jpg);
        @include background-style(); 
        @include margin-0-auto();
    }
    
    .e2{ 
        background-image: url(../img/news-coffe-college.jpg);
         @include background-style(); 
        @include margin-0-auto();
    }
    
    .e3{
         background-image: url(../img/news-early-bird-coffee.jpg);
         @include background-style(); 
        @include margin-0-auto();
    }
    .e4{
         background-image: url(../img/coffee-news-date.jpg);
         @include background-style(); 
        @include margin-0-auto();
    }
      
}