@import "_variables.scss"; 
.press-container{
    position: relative;
}
.aboout-Us-main-container h1{
   @include header-menu();
    color: #fff;
}
.press-container{
    width: 90%; 
    margin: 0 auto; 
}
.sub-container {
    display: flex;
    flex-direction: row; 
    
}
.sub1, .sub2, .sub3, .sub4{
    background-color:#fff;
    margin: 5px;
}