*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.main-info h1{
	color: #fff; 
	font-size: 1.6rem; 
    font-weight: 700;
}

.logo{
    fill:#fff;
}

/*main info **********************/
.main-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    text-align: center;
}
/*main info **********************/

/*main cover **********************/
.main-cover { 
background-image: url(../img/hand-coffee.jpg);
background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100vw; 
    z-index: -100; 
    position: relative;
}
.main-cover-cover > * {
    z-index: 2;
}

.main-nav > * {
        z-index: 2;
}
.main-cover:after{
     content: ''; 
    position: absolute; 
    left: 0; 
    top:0; 
    width: 100vw; 
    height: 100vh; 
    background: rgba(0,0,0,0.4); 
}

/*.aside container info   ********** */
.aside-container{
    width: 80%; 
     margin: 10px auto; 
}
/*.aside container info   ********** */
.nav-list-container{
    display: flex;
    flex-direction: row;
    position: absolute; 
    bottom: 0;
    background-color: #000; 
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.nav-list-container li{
    padding-left: 20px;
    list-style: none;
}

.list-item{
    color:#fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    
}

/*main cover **********************/

/*about-section **********************/

.about-section{
  
margin:50px;
    display: grid; 

     grid-template-columns: repeat(3, 1fr);  
     grid-template-areas: "p1 p3  info"
                         "p2 p3 info"; 
   
   grid-template-rows: auto auto;
    grid-gap: 10px;
    position: relative;
/*
align-content: center;
    justify-items: center;
*/

  
    
}

.about-image1-container{
   grid-area: p1; 
    background-image: url(../img/cup-coffe.jpg); 
    background-position: center center; 
    background-size: cover;
    min-height: 250px;
/*
    width: 250px; 
    height: 100px;
*/
    margin-bottom: 10px;
        
}



/*
.about-image1-container img{
    max-width: 250px; 
    height: auto;
 
}
*/
.about-image2-container{
    grid-area: p2; 
/*      width: 250px; */
/*    height: auto;*/
       
     background-image: url(../img/pour-coffe.jpg); 
    background-position: center center; 
    background-size: cover;
  min-height: 250px;
}
/*
.about-image2-container img{
      width: 250px; 
    height: auto;
}
*/
.about-image3-container{
   grid-area:  p3;
/*         width: 200px; */
/*    height: auto;*/

     background-image: url(../img/drinking-coffee.jpg); 
    background-position: center center; 
    background-size: cover;
}
/*
.about-image3-container img{
      width: 200px; 
    height: auto;
}
*/
.coffee-icon{
    width:40px; 
    heigh:40px;
}
.about-info{
    grid-area: info;
    padding: 10px;
    text-align: center;
   
}
.about-button1{
    margin-top: 20px;
padding-left: 10px;
    padding-right: 10px;
    height: 40px; 
    font-size: 1rem;
    background-color: palegoldenrod;
    color: #fff;
    
}
/*location containers ********** */
.location-container{
    background-image: url(../img/location-coffee.jpg); 
        background-position: center center; 
    background-size: cover;
    height: 100Vh; 
    width:100Vw;
    position: relative;
    
}

.location-container > * {
    position: relative; 
    z-index: 2; 
}

.location-container:after{
    content: ''; 
    position: absolute; 
    left: 0; 
    top:0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.4); 
}


.locations-divs{
    color: aliceblue;
}